html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: fit-content;
}

h2,
h3 {
  text-align: center;
}

h2 {
  text-orientation: sideways;
  writing-mode: vertical-rl;
}

section,
header {
  display: grid;
  grid-template-columns: 60px auto auto;
}

header {
  grid-template-areas: ". simple stacked";
}

header h3:first-of-type {
  grid-area: simple;
}

header h3:last-of-type {
  grid-area: stacked;
}
